.h3 {
  font-style: italic;
  line-height: 1px
  border-top: 20px solid black;
}
.h1 {
line-height: 1px;
}
.byline {
  font-size: 10px;
  color: grey;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.headline {
  font-size: 25px;
  color: inherit;
  padding: 8px 2px 8px 2px;
  margin: 0px 0px 0px 0px;
}
.description {
  padding: 8px 2px 8px 2px;
  margin: 0px 0px 0px 0px;
}
.story1 {
  font-size: 20px;
  background: #778899;
}
