.h3 {
  font-style: italic;
  line-height: 1px;
}
.h1 {
line-height: 1px;
}
.byline {
  font-size: 10px;
  color: grey;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.headline {
  font-size: 25px;
  color: inherit;
  padding: 8px 2px 8px 2px;
  margin: 0px 0px 0px 0px;
}
.description {
  padding: 8px 2px 8px 2px;
  margin: 0px 0px 0px 0px;
}
.story1 {
  font-size: 20px;
  background: #778899;
}
.h23 {
  border-bottom: 2px solid black;
}
.container {
  max-width: 800px;
  overflow: auto;
  margin: 0 auto;
  background: white;
  padding: 6px 4px 6px 4px;
}
body {
  background: #C0C0C0;
  padding: 6px 4px 6px 4px;
}
.left-column{
  width: 70%;
  float: left;
  padding: 6px 4px 6px 4px;
  bottom: 0;
  right: 0;
  position: relative;
  overflow: auto;
}
.right-column{
  width: 30%;
  float: left;
  padding: 6px 4px 6px 4px;
  box-sizing: border-box;
  overflow: auto;
}
* {
  box-sizing: border-box;
}
@media(max-width: 600px)
